@page
@model KickDrive.Pages.EditarSModel
@{
    ViewData["Title"] = "EditarS";
}

<h1>Editar Supervision</h1>
<style>
    .validation-summary-errors {
        border: 2px dashed red;
        color: red;
        font-weight: bold;
        margin: 12px;
    }
</style>
<body>
    <h1 align="center">Editar Proceso de Revision</h1>
    <form method="post" enctype="multipart/form-data">
        <fieldset>
            <h2 align="center">Actualice los datos del Proceso de revision</h2>
            <p>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProcesoRevision.Id" />
                <div class="form-group">
                    <label asp-for="ProcesoRevision.SupervisorId" class="control-label">Id</label>
                    <input asp-for="ProcesoRevision.SupervisorId" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ProcesoRevision.HorarioSupervision" class="control-label">Horario de supervision </label>
                    <input asp-for="ProcesoRevision.HorarioSupervision" class="form-control" />
                    <span asp-validation-for="ProcesoRevision.Supervisor.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcesoRevision.Incidentes" class="control-label">Incidentes </label>
                    <input asp-for="ProcesoRevision.Incidentes" class="form-control" />
                    <span asp-validation-for="ProcesoRevision.Supervisor.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcesoRevision.Ruta" class="control-label">Ruta </label>
                    <input asp-for="ProcesoRevision.Ruta" class="form-control" />
                    <span asp-validation-for="ProcesoRevision.Supervisor.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ProcesoRevision.InfoViajes" class="control-label">Informacion de viajes </label>
                    <input asp-for="ProcesoRevision.InfoViajes" class="form-control" />
                    <span asp-validation-for="ProcesoRevision.Supervisor.Nombre" class="text-danger"></span>
                </div>
                
            </p>
            <div class="col-xs-12 col-md-6"><button type="submit" value="" class="btn btn-success btn-block btn-lg">Guardar</button></div>
            <div class="col-xs-12 col-md-6"><a asp-page="/VehiculosRegistrados" class="btn btn-primary btn-block btn-lg">Cancelar</a></div>

        </fieldset>


    </form>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>


