@page
@model IndexModel
@{
    ViewData["Title"] = "KickDrive";
}

<div class="text-center">
    <h1 class="display-4">KickDrive</h1>
    <p>
        La empresa de autotransportes la rápida del sureste, presta su servicio de pasaje en la ciudad de
        Mérida, Yucatán, la empresa esta interesada en abrir nuevas rutas y mejorar las existentes
    </p>
    <button>Iniciar sesión</button>
    <button>Registrarse</button>
</div>
